<div class="jumbotron">
  <h1>
    Welcome!
  </h1>
  <p class="lead">
    <div ng-show="user.message != null" style="color:red">{{user.message}}</div>
  <img class="leftImage" src="images/wolf.png" alt="I'm a wolf">
  <img class="rightImage" src="images/bear.png" alt="I'm a bear">
    <div class="inputField"><span>Username: </span> <input class="fRight" type="text" ng-model="user.username"></div>
    <div class="inputField"><span>Password: </span><input class="fRight" type="password" ng-model="user.password"></div>
    <div class="clear"></div>
  </p>
  <p>
    <div class="btn btn-lg btn-success" ng-click="login()">
      Sign In
      <span class="glyphicon glyphicon-ok"></span>
    </div>
    <a class="btn btn-lg btn-success" ng-href="#/register">
      Register
      <span class="glyphicon glyphicon-ok"></span>
    </a>
  </p>
</div>

<!--
<div class="row marketing">
  <h4>About</h4>
  <p>
    This website is here to help you keep track of your cub scout's progress.
  </p>

  <h4>Current Features</h4>
  <p>
    Currently, you can pull up records for each of your scouts and add accomplishments.
  </p>

  <h4>Future Updates</h4>
  <p>We will be adding requirements for webelos scouts soon.</p>
</div>
-->
