<form>
    <div class="header">
        <h1>User Registration</h1>
    </div>
    <div class="container">
        <label>Username: </label>
        <input type="text" name="username" placeholder="Username"></input>
    </div>
    <div class="container">
        <label>Password: </label>
        <input type="password" name="password" placeholder="Password"></input>
    </div>
    <div class="container">
        <label>Confirm Password: </label>
        <input type="password" name="confirmpass" placeholder="Confirm Password"></input><br>
    </div>
    <div class="container">
        <label>First Name: </label>
        <input type="text" name="firstname" placeHolder="First"></input>
    </div>
    <div class="container">
        <label>Last Name: </label>
        <input type="text" name="lastname" placeholder="Last"></input>
    </div>
    <div class="container">
        <label>Email: </label>
        <input type="email" name="email" placeholder="Email"></input>
    </div>
    <div class="container">
        <label>Pack#: </label>
        <input type="number" name="packnum" placeHolder="#####"></input>
    </div>
    <div class="container">
        <!--Mark leader or parent -->
        <div class="radio">
            <input type="radio" name="role" value="Leader" ng-click="selectLeader()">Leader
            <input type="radio" name="role" value="Parent" ng-click="selectParent()">Parent
        </div>
        <div ng-show="isLeader">
            <div class="container">
                <label>Select group: </label>
                <select name="group">
                    <option>Wolf</option>
                    <option>Bear</option>
                    <option>Webelos</option>
                </select>
            </div>
            <div class="container">
                <label>Primary Phone Number: </label>
                <input type="tel" name="leadertel" placeholder="(888)888-8888"></input>
            </div>
        </div>
        <div ng-show="isParent">
            <div class="container">
                <h3>Select Your Scouts: </h3>
                <p><b><u>Wolf</u></b></p>
                <div ng-repeat="scout in wolfScouts">
                    <input type="checkbox" name="scout" value="{{scout}}">{{scout}}</input>
                </div>
                <p><b><u>Bear</u></b></p>
                <div ng-repeat="scout in bearScouts">
                    <input type="checkbox" name="scout" value="{{scout}}">{{scout}}</input>
                </div>
                <p><b><u>Webelos</u></b></p>
                <div ng-repeat="scout in webelosScouts">
                    <input type="checkbox" name="scout" value="{{scout}}">{{scout}}</input>
                </div>
        </div>
    </div>
    <div>
        <button type="button">Submit</button>
    </div>
</form>