<div class="jumbotron">
<form>
    <div class="header">
        <h2>User Registration</h2>
    </div>
    <div class="inputDiv">
        <label>Username: </label>
        <input type="text" name="username" placeholder="Username" ng-model="username"></input>
    </div>
    <div class="inputDiv">
        <label>Password: </label>
        <input type="password" name="password" placeholder="Password" ng-model="password"></input>
    </div>
    <div class="inputDiv">
        <label>Confirm Password: </label>
        <input type="password" name="confirmPass" placeholder="Confirm Password" ng-model="confirmPass"></input><br>
    </div>
    <div class="inputDiv">
        <label>First Name: </label>
        <input type="text" name="firstname" placeHolder="First" ng-model="firstName"></input>
    </div>
    <div class="inputDiv">
        <label>Last Name: </label>
        <input type="text" name="lastname" placeholder="Last" ng-model="lastName"></input>
    </div>
    <div class="inputDiv">
        <label>Email: </label>
        <input type="text" name="email" placeholder="Email" ng-model="email"></input>
    </div>
    <div class="inputDiv">
        <label>Pack#: </label>
        <input type="text" name="packnum" placeHolder="#####" ng-model="packNum"></input>
    </div>
    <div class="radioSelectDiv">
        <!--Mark leader or parent -->
        <td align="left">

            <input type="radio" name="role" value="Leader" ng-click="selectLeader()"> Leader 

            <input type="radio" name="role" value="Parent" ng-click="selectParent()"> Parent
        </td>
        <div class="leaderDiv" ng-show="isLeader">
            <div class="inputDiv">
                <label>Select group: </label>
                <select name="group" ng-model="leaderGroup">
                    <option>Wolf</option>
                    <option>Bear</option>
                    <option>Webelos</option>
                </select>
            </div>
            <div class="inputDiv">
                <label>Primary Phone Number: </label>
                <input type="tel" name="leadertel" placeholder="(888)888-8888" ng-model="leaderPhoneNumber"></input>
            </div>
        </div>
        <div class="parentDiv" ng-show="isParent">
            <div class="inputDiv">
                <h3>Select Your Scouts: </h3>
                <p><b><u>Wolf</u></b></p>
                <div ng-repeat="scout in wolfScouts">
                    <input type="checkbox" name="selectedScouts[]" value="{{scout}}" ng-checked="selectedScouts.indexOf(scout) > -1" ng-click="selectWolfScout(scout)"=>{{scout}}</input>
                </div><br>
                <p><b><u>Bear</u></b></p>
                <div ng-repeat="scout in bearScouts">
                    <input type="checkbox" name="selectedScouts[]" value="{{scout}}" ng-checked="selectedScouts.indexOf(scout) > -1" ng-click="selectBearScout(scout)"=>{{scout}}</input>
                </div><br>
                <p><b><u>Webelos</u></b></p>
                <div ng-repeat="scout in webelosScouts">
                    <input type="checkbox" name="selectedScouts[]" value="{{scout}}" ng-checked="selectedScouts.indexOf(scout) > -1" ng-click="selectWebelosScout(scout)"=>{{scout}}</input>
                </div>
        </div>
    </div>
    <div class="submitDiv">
        <br>
        <a class="btn btn-lg btn-success" ng-click="submitInfo()" ng-show="canSubmit()">Submit</a>
    </div>
</form>
</div>